{% extends 'base_main.html' %}
{% load static %}

{% block content_detail %}
    <br/>
    <div id="inthecontent" style="padding: 20px;font-size: 12px">
        <ol class="breadcrumb">
            <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;Home</a></li>
            <li><a href="/blog/order_blog/{{ post.carousel.title }}/default">{{ blog.carousel_id }}</a></li>
            <li><span class="glyphicon glyphicon-calendar"></span>&nbsp;{{ blog.update_time|date:"Y-m-d" }}</li>
            <li><span class="glyphicon glyphicon-eye-open"></span>&nbsp;{{ blog.view_times }}</li>
            <li style="float: right"><span class="glyphicon glyphicon-user"></span>&nbsp;{{ blog.author_id }}
            </li>
        </ol>
        &nbsp;
        {% for tag in tags %}
            {% if forloop.counter == 1 or forloop.counter == 6 %}
                <span class="label label-primary">{{ tag }}</span>
            {% elif forloop.counter == 2 or forloop.counter == 7 %}
                <span class="label label-success">{{ tag }}</span>
            {% elif forloop.counter == 3 or forloop.counter == 8 %}
                <span class="label label-info">{{ tag }}</span>
            {% elif forloop.counter == 4 or forloop.counter == 9 %}
                <span class="label label-warning">{{ tag }}</span>
            {% elif forloop.counter == 5 or forloop.counter == 10 %}
                <span class="label label-danger">{{ tag }}</span>
            {% endif %}
        {% endfor %}

        <div class="page-header" style="font-size: 45px">
            <h1>{{ post.title }}<br/>
                <small>{% if post.en_title != 'None' and post.en_title %}{{ post.en_title }}{% endif %}</small>
            </h1>
        </div>

        <div class="markdown-body" style="padding: 20px;">
            {{ post.body|safe }}
        </div>
        <hr/>
        <p style="float: right">觉得不错？不如点个&nbsp;&nbsp;
            <img id="dianzan" src="/static/img/dianzan.png" style="margin-bottom: 7px" width="20px"/>&nbsp;&nbsp;
            <span id="zan_times">{{ post.zan_times }}</span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </p>

        <br/>
    </div>
    <br/>
    <div id="comment_div" style="width:100%; background-color:white;padding: 20px;font-size: 12px">
        <table width="100%">
            <tr>
                <td>
                    {% if imgUrl %}
                        <img src="{{ imgUrl }}" alt="头像" class="img-circle" width="50px"
                             style=" display: inline;float: left"><br>
                    {% else %}
                        <img src="{% static 'img/favicon.ico' %}" alt="头像" class="img-circle" width="50px"
                             style=" display: inline"> <br>
                    {% endif %}
                </td>
                <td width="90%">
                    <form style="display: inline; width: 100%" action="{% url 'society:add_comment_to_blog' %}"
                          method="post">
                        {% csrf_token %}
                        <textarea id="comment" name="comment" class="form-control" rows="5"
                                  placeholder="请输入评论 200以内！" style="width: 100%"></textarea>
                        <input type="text" style="display: none;" name="article_id" value="{{ blog.id }}">
                        {# type=0 为对博客的回复，否则为对评论的回复 #}
                        <input type="text" style="display: none;" id="post_type" name="post_type" value="0">
                        <br/>
                        <button type="submit" style="float: right" class="btn btn-danger">提交</button>
                    </form>
                </td>
            </tr>
        </table>
        <hr/>

        {% for comment in comments %}
            <table width="100%">
                <tr>
                    <td valign="top">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <img src="/static/upload/{{ comment.comment_creater.user_img }}" alt="头像" class="img-circle"
                             width="30px"
                             style="margin-top: 15px; display: inline"> <br>
                    </td>
                    <td width="90%">
                        <a style="font-size: 18px;font-weight: bold">{{ comment.comment_creater.user_id }}</a>
                        <br/>
                        <p>&nbsp;</p>
                        {% ifnotequal comment.comment_type 0 %}
                            <div style="border: 1px dashed black;background-color:#e8f2ff;border-radius:5px;width: 90%">
                                {% for com in comments %}
                                    {% ifequal com.id comment.comment_to_which_Comment %}
                                        <p>回复 {{ com.comment_creater_id }} 于 {{ com.comment_time }}发布的评论：</p>
                                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ com.comment_detail }}</p>
                                    {% endifequal %}
                                {% endfor %}
                            </div>
                        {% endifnotequal %}
                        <p>{{ comment.comment_detail }}</p>
                        <p>{{ comment.comment_time }} <span><a class="comment_to_comment" href="#comment"
                                                               name="{{ comment.comment_creater.user_id }},{{ comment.id }}">回复</a></span>
                            {% if uid == comment.comment_creater_id %}
                                <a href="{% url 'society:del_comment' comment.id %}"
                                   name="{{ comment.id }}">删除</a>
                            {% endif %}
                        </p>

                    </td>
                </tr>
            </table>
            <hr/>
        {% endfor %}


    </div>


{% endblock %}


{% block extCss %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'plugins/editor-1.md-master/css/editormd.css' %}"/>
    <style type="text/css">
        #inthecontent {
            width: 100%;
            background-color: white;
        }
    </style>
{% endblock %}
{% block extJs %}
    {{ block.super }}
    <script src="{% static 'plugins/editor-1.md-master/editormd.js' %}"></script>
    <script>
        $(".comment_to_comment").click(function () {
            let username = $(this).attr('name').split(',')[0];
            let commentid = $(this).attr('name').split(',')[1];
            $('#post_type').attr('value', commentid);
            $('#comment').val('回复' + username + ':')
        });

        $('#dianzan').click(function () {
            data = {'blog_id': '{{ post.id }}'};
            $.ajax({
                url: '{% url "blog:dianzan" %}',
                type: 'get',
                data: data,
                success: function (data) {
                    if (data['code'] === 200) {
                        $('#zan_times').text(data['zan_times'])
                    }
                    else {
                        console.log(data['code'])
                    }
                },
                error: function () {
                    console.log('error')
                }
            })
        })

    </script>
{% endblock %}
