
<form style="padding: 3rem" id="change_pass_form" action="" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label class="control-label" for="old_user_passwd">*旧密码:</label>
        <input type="password" class="form-control" name="old_user_passwd" id="old_user_passwd"
               aria-describedby="helpBlock2">
    </div>
    <div class="form-group">
        <label class="control-label" for="user_passwd">*新密码:</label>
        <input type="password" class="form-control" name="user_passwd" id="user_passwd"
               aria-describedby="helpBlock2">
    </div>
    <div class="form-group">
        <label class="control-label" for="confirm_passwd">*确认密码:</label>
        <input type="password" class="form-control" name="confirm_passwd" id="confirm_passwd"
               aria-describedby="helpBlock2">
    </div>
    <input disabled="disabled" type="button" id="do_submit" value="提交" class="btn btn-info" style="width: 100px;">
</form>

<script>
    $(function () {
        {# 载入成功后把active改为本页面 #}
        $(".list-group-item").removeClass('active');
        $('#change_password').addClass('active')
    });

    {# 输入框失去焦点检查有没有填完数据 #}
    $('form .form-control').blur(function () {
        let $this = $(this);
        let $input1 = $("#old_user_passwd");
        let $input2 = $("#user_passwd");
        let $input3 = $("#confirm_passwd");
        let $submit_button = $("#do_submit");
        {# 判断是不是所有框框都有值 按钮允许点击 否则不允许#}
        if ($input1.val() && $input2.val() && $input3.val()) {
            $submit_button.prop('disabled', false)
        } else {
            $submit_button.prop('disabled', true)
        }
    });
    {# do_submit点击后事件 #}
    $('#do_submit').click(function () {
        $('#change_pass_form').ajaxSubmit({
            url: '/users/do_change_password/',
            type: 'post',
            dataType: 'json',
            success: function (data) {
                if (data['code'] == 200) {
                    alert('修改成功，重新登陆吧')
                    window.open('/users/do_log_out', target = '_self')
                } else {
                    console.log(data['code']);
                    alert('修改错误，' + data['message'])
                }
            },
            error: function (xhr, status, err) {
                alert("抱歉，服务器出了点小问题TAT,快联系作者上报bug吧TAT");
                console.log(xhr.responseText);
                console.log(status);
                console.log(err);
            },

            clearForm: false,//禁止清除表单
            resetForm: false //禁止重置表单

        });
        // 这里返回false防止页面刷新
        return false;
    })
</script>