<style>

    /*changetx 样式*/
    #change-tx h1 {
        font-size: 26px;
        font-weight: bold;
    }

    .change-tx-left {
        margin: 20px;
        padding-right: 60px;
        border-right: 1px solid #eee;

        float: left;
    }

    .screen-tx {
        width: 800px;
        height: 300px;
        line-height: 300px;
        background: #e2e2e2;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }

    .screen-tx .jcrop-holder {
        border: none;
        max-width: 100%;
        max-height: 100%;
        margin: auto;
    }

    #upload-tx-form {
        position: relative;
        margin-left: 20px;
        margin-top: 20px;

    }

    #upload-tx {
        position: absolute;
        top: -2px;
        left: 105px;
        width: 40px;
        opacity: 0;
        font-size: 30px;

    }

    #save-tx {
        margin-right: 20px;
    }

    #change-tx {
        display: none;
    }

    #all_content {
        padding: 30px;
    }
</style>
<div id="all_content">
    <div class="btn-group" role="group" aria-label="...">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-default" id="add_swiper">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>&nbsp;添加轮播图
        </button>
        <button type="button" class="btn btn-default disabled" id="back">返回
        </button>
    </div>
    <br/>
    <hr/>
    <div id="papare-change-tx">
        {% for swiper in swipers %}
            <div style="float: right;font-size: 12px;margin-top: 0px;margin-right: 30px">
                <a href="#" class="edit_info" data-toggle="modal" data-target="#myModal">修改信息</a>&nbsp;|
                <a href="javascript:void(0)" class="del_nav">删除</a>&nbsp;
            </div>
            <table>
                <tr>
                    <td><img src="{{ swiper.swiper_img_url }}" width="150px"></td>
                    <td style="padding-left: 30px">
                        <h1 style="font-size:23px;color: #0f0f0f">
                            ID:<span class="swiper_id">{{ swiper.id }}</span>
                            {{ swiper.swiper_title }}</h1>
                        <small>url:{% if swiper.swiper_url %}
                            {{ swiper.swiper_url }}
                        {% else %}
                            未设置url
                        {% endif %}</small>
                    </td>
                </tr>
            </table>
            <hr/>
        {% endfor %}
    </div>
    <div id="change-tx" class="well clearfix">
        <h1>添加轮播图Beta</h1>
        <h4>tip:请不要使用过大的图片</h4>
        <hr/>
        <div>
            <div class="change-tx-left">
                <div class="screen-tx">
                    <img id="tmp-tx" src="" alt="">
                </div>
                <form role="form" id="upload-tx-form">
                    <div class="form-group">
                        <table>
                            <tr>
                                <td><input type="button" id="save-tx" class="btn btn-warning btn-vmaig-auth"
                                           value="保存图片">
                                </td>
                                <td>
                                    <button type="button" id="choose_img" class="btn btn-info">选择图片
                                        <input type="file" style="width: 80px" id="upload-tx" name="upload-tx"></button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- 弹出框 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="close_box" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">修改轮播图信息</h4>
            </div>
            <div class="modal-body">
                <label for="swiper_id">轮播图ID</label>
                <input type="text" class="form-control" disabled="disabled" id="swiper_id" placeholder="轮播图ID">
                <br/>
                <label for="swiper_title">轮播图名称</label>
                <input type="text" class="form-control" id="swiper_title" placeholder="新轮播图名称">
                <br/>
                <label for="swiper_url">轮播图url</label>
                <input type="text" class="form-control" id="swiper_url" placeholder="新轮播图url">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="submit_change">提交修改</button>
            </div>
        </div>
    </div>
</div>


<script>
    $(function () {
        $('.edit_info').click(function () {
            let this_swiper_id = $(this).parent().next().find('.swiper_id').html();
            $('#swiper_id').val(this_swiper_id);
        });
        $('.del_nav').click(function () {
            let this_swiper_id = $(this).parent().next().find('.swiper_id').html();
            if (confirm('是否删除轮播图，id：' + this_swiper_id)) {
                data = {}
                data['swiper_id'] = this_swiper_id;
                data['method'] = 'del';
                $.ajax({
                    method: 'post',
                    url: '/blog/edit_swiper',
                    type: 'json',
                    data: data,
                    // ajax  csrf补丁
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
                    },
                    success: function (data) {
                        if (data['code'] == 200) {
                            alert('成功:' + data['msg']);
                            // 隐藏弹出框
                            $('#myModal').modal('hide');
                            $('.modal-backdrop').remove();
                            $('#personal_center_content').load('/users/manage_swiper/')
                        } else {
                            alert('错误,错误代码：' + data['code'] + ':' + data['msg'])
                        }
                    },
                    error: function () {
                        alert('ajax错误')
                    }
                })
            }
        });
        $('#submit_change').click(function () {
            let swiper_title = $('#swiper_title').val();
            let swiper_url = $('#swiper_url').val();
            let swiper_id = $('#swiper_id').val();

            let data = {};
            data['swiper_id'] = swiper_id;
            data['swiper_title'] = swiper_title;
            data['swiper_url'] = swiper_url;
            data['method'] = 'edit';

            $.ajax({
                method: 'post',
                url: '/blog/edit_swiper',
                type: 'json',
                data: data,
                // ajax  csrf补丁
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
                },
                success: function (data) {
                    if (data['code'] == 200) {
                        alert('成功:' + data['msg']);
                        // 隐藏弹出框
                        $('#myModal').modal('hide');
                        $('.modal-backdrop').remove();
                        $('#personal_center_content').load('/users/manage_swiper/')
                    } else {
                        alert('错误,错误代码：' + data['code'] + ':' + data['msg'])
                    }

                },
                error: function () {
                    alert('ajax错误')
                }

            })

        });

        $('#add_swiper').click(function () {
            $('#papare-change-tx').hide();
            $('#add_swiper').addClass('disabled');
            $('#back').removeClass('disabled');
            $('#change-tx').show();
        });
        $('#back').click(function () {
            $('#change-tx').hide();
            $('#back').addClass('disabled');
            $('#add_swiper').removeClass('disabled');
            $('#papare-change-tx').show();
        });

        $(".list-group-item").removeClass('active');
        $('#change_img').addClass('active');

        var jcrop_api, boundx, boundy;
        var image = new Image();
        var x, y, width, height = 0;

        $('#tmp-tx').Jcrop({
                onChange: updatePreview,
                onSelect: updatePreview,
                aspectRatio: 16 / 9,
                boxWidth: 400,
                boxHeight: 300
            },
            function () {
                jcrop_api = this;
            });

        $("#upload-tx").change(function () {

            if (typeof FileReader == "undefined") {
                alert("您的浏览器不支持FileReader对象！");
            }

            var file = this.files[0];
            var reader = new FileReader();

            reader.readAsDataURL(file);


            reader.onload = function (e) {
                image.src = e.target.result;
                $("#tmp-tx").attr("src", image.src);
                $("#preview-pane .preview-container img").attr("src", image.src);
                jcrop_api.setImage(image.src);
                preImage(image.src, function () {
                    boundx = this.width;
                    boundy = this.height;
                });

            }


        });

        $("#save-tx").click(function () {
            console.log("x:" + x + " y:" + y + " width:" + width + " height:" + height);

            var canvas = $('<canvas width="' + width + '" height="' + height + '"></canvas>')[0],
                ctx = canvas.getContext('2d');

            ctx.drawImage(image, parseInt(x), parseInt(y), parseInt(width), parseInt(height), 0, 0, parseInt(width), parseInt(height));

            var data = canvas.toDataURL();

            // dataURL 的格式为 “data:image/png;base64,****”,逗号之前都是一些说明性的文字，我们只需要逗号之后的就行了
            data = data.split(',')[1];
            data = window.atob(data);
            var ia = new Uint8Array(data.length);
            for (var i = 0; i < data.length; i++) {
                ia[i] = data.charCodeAt(i);
            }

            // canvas.toDataURL 返回的默认格式就是 image/png
            var blob = new Blob([ia], {type: "image/png"});

            var fd = new FormData();

            fd.append('file', blob);
            {#console.log(canvas.toDataURL().split(',')[1])#}
            $.ajax({
                url: "{% url 'blog:do_create_swiper' %}",
                type: "POST",
                data: {"tx": canvas.toDataURL().split(',')[1]},

                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
                },
                success: function (data, textStatus) {
                    alert(data);
                    location.reload();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(textStatus + '图片过大，请换小一点的图重试');
                }

            });

        });


        function preImage(url, callback) {
            var img = new Image(); //创建一个Image对象，实现图片的预下载
            img.src = url;

            if (img.complete) { // 如果图片已经存在于浏览器缓存，直接调用回调函数
                callback.call(img);
                return; // 直接返回，不用再处理onload事件
            }

            img.onload = function () { //图片下载完毕时异步调用callback函数。
                callback.call(img);//将回调函数的this替换为Image对象
            };
        }

        function updatePreview(c) {
            if (parseInt(c.w) > 0) {
                x = c.x;
                y = c.y;
                width = c.w;
                height = c.h;
                var rx = 100.0 / c.w;
                var ry = 100.0 / c.h;

                console.log("rx:" + Math.round(rx * boundx) + " ry:" + ry);

                $("#preview-pane .preview-container img").css({
                    width: Math.round(rx * boundx) + 'px',
                    height: Math.round(ry * boundy) + 'px',
                    marginLeft: '-' + Math.round(rx * c.x) + 'px',
                    marginTop: '-' + Math.round(ry * c.y) + 'px'
                });
            }
        }
    });
    $(function () {
        {# 载入成功后把active改为本页面 #}
        $(".list-group-item").removeClass('active');
        $('#manage_swiper').addClass('active');
    });
</script>