<div style="padding: 20px 30px">
    <div class="btn-group" role="group" id="manage_group" aria-label="...">
        <button type="button" id="my_blog" class="btn btn-default">我的博客</button>
        <button type="button" id="deleted_blog" class="btn btn-default">已删除</button>
        <button type="button" id="drafts_blog" class="btn btn-default">草稿箱</button>
    </div>
    <hr/>
    {% for blog in blogs %}
        <div style="float: right;font-size: 12px;margin-top: 0px;margin-right: 30px">
            {% if blog.status == 0 %}
                <a href="/blog/edit_blog/?blog_id={{ blog.id }}">修改博客</a>&nbsp;|
                <a href="#" onclick="del_blog({{ blog.id }})">删除</a>&nbsp;|
                <a href="/blog/blog_detail/{{ blog.id }}#comment_div">管理评论</a>
            {% elif blog.status == 1 %}
                <a href="/blog/edit_blog/?blog_id={{ blog.id }}">继续编辑</a>&nbsp;|
                <a href="#" onclick="del_blog({{ blog.id }})">删除</a>&nbsp;
            {% elif blog.status == 2 %}
                <a href="#" onclick="del_blog({{ blog.id }},true)">彻底删除</a>&nbsp;|
                <a href="#" onclick="recovery_blog({{ blog.id }})">恢复</a>&nbsp;
            {% endif %}

        </div>

        <div class="article-list-item" style="font-size: 10px;color: #9d9d9d">
            <h1 style="font-size:23px;color: #0f0f0f">{{ blog.title }}</h1>
            <br/>
            <time class="post-date" datetime="{{ blog.create_time|date:"Y-m-d" }}"
                  title="{{ blog.create_time|date:"Y-m-d" }}"
                  style="display: inline">
                <span class="glyphicon glyphicon-calendar"></span> {{ blog.create_time|date:"Y-m-d" }}
            </time>&nbsp;&nbsp;&nbsp;
            <p style="display: inline"><span class="glyphicon glyphicon-comment" aria-hidden="true">
            </span>&nbsp;{{ blog.comment_num }}</p>
            &nbsp;&nbsp;
            <p style="display: inline"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                &nbsp;{{ blog.view_times }}</p>
            <hr/>
        </div>
    {% endfor %}

</div>

<script>
    $(function () {
        {# 载入成功后把active改为本页面 #}
        $(".list-group-item").removeClass('active');
        $('#manage_article').addClass('active');
    });

    $('#my_blog').click(function () {
        $('#manage_group button').removeClass('active');
        $(this).addClass('active');
        $('#personal_center_content').load('/users/manage_article')
    });

    $('#deleted_blog').click(function () {
        $('#manage_group button').removeClass('active');
        $(this).addClass('active');
        $('#personal_center_content').load('/users/manage_article/?where=deleted')
    });

    $('#drafts_blog').click(function () {
        $('#manage_group button').removeClass('active');
        $(this).addClass('active');
        $('#personal_center_content').load('/users/manage_article/?where=drafts')
    });

    function del_blog(blogid, del_method = false) {
        if (confirm('确认要删除吗')) {
            $.ajax({
                url: '/blog/del_blog',
                data: {'blog_id': blogid, 'del_method': del_method},
                method: 'post',
                dataType: 'json',
                success: function (data) {
                    if (data['code'] == 200) {
                        alert('删除成功');
                        $('#personal_center_content').load('/users/manage_article')
                    } else {
                        alert('错误,错误代码：' + data['code'])
                    }

                },
                error: function () {
                    alert('ajax错误')
                }
            })
        }
    }

    function recovery_blog(blogid) {
        if (confirm('确认要恢复吗')) {
            $.ajax({
                url: '/blog/recovery_blog',
                data: {'blog_id': blogid},
                method: 'post',
                dataType: 'json',
                success: function (data) {
                    if (data['code'] == 200) {
                        alert('恢复成功');
                        $('#personal_center_content').load('/users/manage_article')
                    } else {
                        alert('错误,错误代码：' + data['code'])
                    }

                },
                error: function () {
                    alert('ajax错误')
                }
            })
        }
    }
</script>